html,
body {
    height: 100%;
    color: #61dafb;
    background: #333;
}

h1 {
    margin: 20px 0 15px 0;
}

#main {
    width: 600px;
    margin: 0 auto;
    text-align: left;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul > li:hover {
    background-color: #efefef;
}

input {
    padding: 0.75em;
    width: 50%;
    margin: 0.75em 0;
}

form {
    margin-bottom: 1em;
}

button {
    margin: 0.5em;
    padding: 0.75em;
    background-color: teal;
    color: white;
    border: green;
}

button:hover {
    border: #61dafb;
    color: #61dafb;
    cursor: pointer;
}

.done {
    color: red;
    text-decoration: line-through;
}

.undone {
    color: #61dafb;
}

.icon {
    margin: 6px 10px 6px 0;
}

.error {
    color: red;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
}
